<!DOCTYPE html>
<html lang="en">
<html>
    <meta charset="UTF-8">
    <title>textUtils</title>
</head>
<body>
<h1>welcome DEEPAK to the text analyser. Enter your text below</h1>
<form action='/analyze' method='get'>
    <textarea  name='text' style="width: 522px; height: 40px;"></textarea>'></textarea>></textarea><br>
    <input type="checkbox" name="removepunc"> Remove punctuations<br>
    <input type="checkbox" name="fullcaps"> UPPERCASE <br>
    <input type="checkbox" name="newlineremover"> New Line Remover <br>
    <button type='submit'> Analyze text </button>
</body>
</html>